https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto
umongo==2.3.0
pytz
motor==2.3.0
dnspython
aiohttp
beautifulsoup4
hachoir
numpy
ffmpeg-python
Pillow
requests
tgcrypto
PyDrive
youtube-dl
olefile
sqlalchemy
psycopg2-binary
aiohttp
psutil
https://github.com/Tinche/aiofiles/archive/master.zip